// src/components/PartnersModule/partnersmod.module.scss

.logoGroup {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logoCard {
  position: relative; // REQUIRED for the child's `fill` prop
  width: 130px;
  height: 80px;
  box-sizing: border-box; // Ensure padding doesn't increase the card size

  // Visual styling
  border-radius: var(--border-radius);
}
