{
  "extends": ["wesbos"],
  "rules": {
    "react/prop-types": "warn"
  },
  "overrides": [
    {
      "files": ["v1/*.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
