@import '../../_assets/css/abstracts/_mixins';

// ToDo: Create intent based variables

// Button base and variants
.root {
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: var(--fs-m);
  display: inline-flex;
  align-items: center;
  margin-bottom: var(--sp-base);
  color: var(--slate-900);

  &:hover .labelGroup {
    background-color: var(--gray-600);
    transition: background-color var(--trans-base) ease;
    color: var(--white-200);
  }

  .labelGroup {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 49px;
    padding: 8px;
    background-color: var(--ew-green);
    color: var(--slate-900);
    font-family: var(--font-semiBold);
  }
  .iconGroup {
    padding: 0 var(--sp-base);
  }
}

a.primary {
  @include removeLinkStyles();
  min-width: 300px;
  max-width: 350px;
  width: 100%;
  border: 1px solid var(--gray-600);
  background-color: var(--gray-600);
  color: var(--font-color-base);

  .iconGroup {
    svg path {
      fill: var(--white-500);
    }
  }
}

.submitContent {
  padding: 0 var(--sp-base);
  svg path {
    fill: var(--white-500);
  }
}
