// ToDo: Create intent based variables

// Button base and variants
.root {
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: var(--fs-m);
  font-family: var(--font-medium);
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;

  &:active {
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  .labelGroup {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0px 1.5rem;
    background-color: var(--white-500);
    transition: all 0.3s ease-in-out;
  }
  .iconGroup {
    padding: 0 var(--sp-base);
  }
}

.primary {
  border: 1px solid var(--gray-600);
  background-color: var(--gray-600);
  color: var(--font-color-base);

  &:hover:not(:disabled) {
    color: var(--font-color-base);

    .labelGroup {
      background-color: #f8f8f8;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px white, 0 0 0 6px var(--gray-600);
  }

  .iconGroup {
    svg path {
      fill: var(--white-500);
    }
  }
}
