/*
 *
 * Sass Mixins
 *
 */

// Breakpoint
$bp: (
  sm: 21rem,
  med: 36rem,
  lg: 51.5rem,
  xl: 67rem,
  xxl: 82.5rem,
);

@mixin bp($breakpoint: med, $size: min) {
  // Retrieves the value from the key
  $value: map-get($bp, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    @if $size != "min" {
      @media (max-width: $value) {
        @content;
      }
    }
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin pageContainer {
  margin: var(--sp-base);
  @media (min-width: 768px) {
    margin: 0 var(--sp-looser);
  }
}

@mixin removeBullets {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@mixin removeLinkStyles {
  font-family: unset;
  color: unset;
  text-decoration: none;
}

@mixin imgFilter {
  filter: saturate(0.2);
}

@mixin fullbleed {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background-size: cover;
  background-position: center;
  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin heroTitle {
  padding: var(--sp-base);
  font-size: var(--fs-l);
  color: var(--white-500);
  line-height: var(--lh-loose);
  @media (min-width: 768px) {
    font-size: 48px;
  }
}
