@import "../_assets/css/abstracts/mixins";

.title {
  font-size: var(--fs-xxl);
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.body {
  margin-top: var(--sp-looser);
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
}
