footer
  .footer-container
    a(href='mailto:hello@codecooperative.org') hello@codecooperative.org
    a(href='http://twitter.com/codecooperative' target='_blank') @codecooperative
    a(href='tel:9178180476' target='_blank') +1 (917) 818-0476
