extends layout

block content
  .container
    .title
      h1 get
      h1 involved
    #donate.section
      img.team-image(src='../images/donations.jpg' alt='Laptop donations')
      h2
        span .
        | Donate
      p
        | Access to a computer and the Internet is crucial to
        | learning to code, which is why we are seeking laptop
        | donations from New York based companies. Laptops would
        | be donated to the Code Cooperative
        | and loaned to participants for the duration of the program.
        | Supporters of the Code Cooperative will be featured on our
        | website and mentioned in emails and social media.
      p 
        a.button(href='https://docs.google.com/forms/d/e/1FAIpQLSekRlaBYt0ILYZP90bJUiXfTf9fCl0brJwamNAgUoH1hIsZdg/viewform' target='_blank') 
          | Donate a Laptop
      p
        | We are also accepting monetary donations via Paypal to support
        | purchases for the following:
        br
        span &gt;
        |  Public transportation to help our students get to class
        br
        span &gt;
        |  Laptop chargers
        br
        span &gt;
        |  Software subscriptions
        br
        span &gt;
        |  Notebooks and other classroom materials
        br
        span &gt;
        |  Miscellaneous operational costs
        br
      p
        a.button.paypal(href='http://paypal.me/alexqin' target='_blank') 
          | Donate via Paypal
    #mentor.section
      img.team-image.margin-top(src='../images/mentor.jpg' alt='Mentor')
      h2
        span .
        | Mentorship
      p       
        a(href='https://docs.google.com/forms/d/e/1FAIpQLSc7qxJ6HhsJBs7nZPUuTFW2wIDLtwlffpT7NzNR9SaDt7cfOg/viewform' target='_blank') We are recruiting volunteer mentors 
        | for the next Code Cooperative class 
        | (starting on June 30, 2018). 
      p
        | Our mentors work 1-on-1 with our students 
        | to meet their learning goals. Supported by our core team, our mentors 
        | coach our students as they learn essential skills in computer 
        | literacy, code, and web development, with the goal of building a 
        | web app that addresses a social problem they have identified.
      p
        | The ideal Code Cooperative mentor is:
        br
        span &gt; 
        | Passionate about working with Justice-Involved individuals
        br
        span &gt; 
        | Highly competent with web development technologies 
        br
        span &gt; 
        | Empathetic, patient and adaptable
        br
        span &gt; 
        | Extremely reliable and punctual
        br
        span &gt; 
        | Willing to go the extra mile to help a student
        br
        span &gt; 
        | An excellent communicator
      p Nice to haves:
        br
        span &gt; 
        | Professional programming experience
        br
        span &gt; 
        | Previous teaching or mentorship experience
        br
        span &gt; 
        | Previous experience working with Justice-Involved individuals
      p 
        | The deadline to fill out our mentor application form is 
        span.pink May 25, 2018.
      p
        a.button(href='https://docs.google.com/forms/d/e/1FAIpQLSc7qxJ6HhsJBs7nZPUuTFW2wIDLtwlffpT7NzNR9SaDt7cfOg/viewform' target='_blank')
          | Apply to Become a Mentor
    .section
      h2
        span .
        | Stay in Touch
      p       
        | We are continually seeking to expand our community of
        | partners, mentors, and volunteers.
        | Join our mailing list to receive updates about our
        | program and find out about ways to get involved.
      p
        a.button(href='https://docs.google.com/forms/d/e/1FAIpQLSe27UAurEdxz2w_qJfRIHR_lohR7il0TRQ2OddrVC8pzIJ5_A/viewform' target='_blank')
          | Join Our Mailing List
    .section
      include sponsors
      
