header
  .navigation
    ul
      li
        a.logo(href='/')
          | the
<<<<<<< HEAD
          span  code coop
=======
          span code coop
>>>>>>> 26f42c01b174fcdf2877b007fd5fecc4cd743a12
          | erative
      li.hide-mobile  |
      li
        a(href='program' class={active: url === '/program'}) our program
      li
        a(href='support' class={active: url === '/support'}) get involved
      li
        a(href='team' class={active: url === '/team'}) team
  a.button.floating-button(href="../support") Donate
img.header-image(src='images/laptop.jpg', alt='')
