- let formUrl = 'https://docs.google.com/forms/d/e/1FAIpQLSePRX9Ih26FshKOh9kAcb6gWpSGj-OpzZ9wns-aZi-04LvQzA/viewform'

header
  .navigation
    ul
      li
        a.logo(href='/')
          | the
          span  code coop
          | erative
      li.hide-mobile  |
      li
        a(href='program' class={active: url === '/program'}) our program
      li
        a(href='support' class={active: url === '/support'}) get involved
      li
        a(href='team' class={active: url === '/team'}) team
  a.button.floating-button(href='/support') Donate
img.header-image(src='images/laptop.jpg', alt='')
.banner-container
  .banner
    | Fill out our&nbsp;
    a(href=formUrl target='_blank') student interest form
    |  or text&nbsp;
    a(href="tel:9178180476") +1 (917) 818-0476
    |  to join our next class!
