header
  .navigation
    ul
      li 
        a.logo(href='/')
          | the 
          span code coop
          | erative  
      li.hide-mobile  | 
      li
        a(href='program') our program
      li
        a(href='support') get involved
      li
        a(href='team') team
img.header-image(src='images/laptop.jpg', alt='')
