extends layout

block content
  .container
      .title
        h1
          | the
<<<<<<< HEAD
          span  code
=======
          span code
>>>>>>> 26f42c01b174fcdf2877b007fd5fecc4cd743a12
        h1
          span coop
          | erative
      .section
        h3
          | The Code Cooperative facilitates prisoner reentry by teaching
          | formerly incarcerated individuals valuable, practical, and
          | applicable skills in computer literacy, technology, and programming.
        p
          span &gt;
          |  We believe in access to tech education as a pathway to
<<<<<<< HEAD
          span  equity
=======
          span equity
>>>>>>> 26f42c01b174fcdf2877b007fd5fecc4cd743a12
          |.
          br
          span &gt;
          |  We
<<<<<<< HEAD
          span  empower
          |  our students to take part in building solutions to the problems
=======
          span empower
          | our students to take part in building solutions to the problems
>>>>>>> 26f42c01b174fcdf2877b007fd5fecc4cd743a12
          | that affect them
          |.
          br
          span &gt;
          |  We foster a diverse, collaborative, and engaged student
<<<<<<< HEAD
          span  community
=======
          span community
>>>>>>> 26f42c01b174fcdf2877b007fd5fecc4cd743a12
          |.
          br
          span &gt;
          |  We connect our students with mentors from the tech industry to
          | develop meaningful and lasting relationships based on
<<<<<<< HEAD
          span  empathy
=======
          span empathy
>>>>>>> 26f42c01b174fcdf2877b007fd5fecc4cd743a12
          |.
        p
          a.button.margin-right(href='program') Learn About Our Program
          a.button(href='support') Get Involved
      .section
        include sponsors
