extends layout

block content
  .container
      .title
        h1
          | the
          span  code
        h1
          span coop
          | erative
      .section
        h3
          | The Code Cooperative is a community of people who learn, use, and
          | build technology to create life changing possibilities for
          | individuals and communities impacted by incarceration.
        p
          span &gt;
          |  We believe in access to tech education as a pathway to
          span  equity
          |.
          br
          span &gt;
          |  We
          span  empower
          |  our students to take part in building solutions to the problems
          | that affect them.
          br
          span &gt;
          |  We foster an inclusive, collaborative, and engaged learning
          span  community
          |.
          br
          span &gt;
          |  We connect our students with mentors from the tech industry to
          | develop meaningful and lasting relationships based on
          span  empathy
          |.
        p
          a.button.margin-right(href='program') Learn About Our Program
          a.button(href='support') Get Involved
      .section.video-section
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe title="vimeo-player" src="https://player.vimeo.com/video/335249244" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>
      .section
        include sponsors
