a.button.margin-right(href="https://docs.google.com/forms/d/e/1FAIpQLSfNxVXkoHtk7tlsU2puHs4-9bkyhIbS13fGl2VKwk-D0SPinw/viewform" target="_blank") Join Our Class
a.button(href='../pdfs/partnerships-flyer.pdf' target='_blank') Download Our Brochure
