a.button.margin-right(href="https://docs.google.com/forms/d/e/1FAIpQLSePRX9Ih26FshKOh9kAcb6gWpSGj-OpzZ9wns-aZi-04LvQzA/viewform" target="_blank") Join Our Class
a.button(href='../pdfs/partnerships-flyer.pdf' target='_blank') Download Our Brochure
