extends layout

block content
  .container
    .title.program-header
      h1 our
      h1 program
      include join-buttons
    .section
      h2 -- Our Philosophy --
      p
        | Access to computer science education is fundamental to participate
        | in today’s increasingly digital world. And although the influence
        | of technology grows daily, tech education is only accessible
        | to a small and homogenous group.
      p
        | At the Code Cooperative, we believe that providing access to
        | computer science education to the most marginalized communities is
        | essential to solving the world’s most complex problems. As such,
        | we equip formerly incarcerated individuals with the skills to
        | become not only users and consumers of technology, but also its
        | creators.
    .section
      img.team-image(src='../images/program.jpg' alt='Our program')
      h2 -- Program Details --
      p
        | Our next class will start in 
        span.pink June 2018
        | .
        br
        | The deadline to fill out our 
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSePRX9Ih26FshKOh9kAcb6gWpSGj-OpzZ9wns-aZi-04LvQzA/viewform" target="_blank") student interest form
        |  is 
        span.pink May 4th 2018
        | .
        br 
        | You can also text us at 
        span.pink +1 (917) 818-0476
        |  to sign up.
        br
        br
        span Time Commitment
        br
        | 10 weeks
        br
        | 5 hours / week for class
        br
        | 5 hours / week for office hours (optional)
        br
        br
        span Location
        br
        | 243 Canal Street, 6th Floor
        br
        | New York, NY 10013
        br
        br
        span No cost to students
        br
        | Our program is completely free.
        br
        | We subsidize transportation costs if needed.
        br
        br
        include join-buttons
    .section
      h2 -- Curriculum Overview --
      p
        | At the Code Cooperative, we empower our students to take part
        | in building the solutions to the problems that affect them.
        | All of our students design, build, and release a website that aims
        | to address a social issue of personal importance.
      p
        | Over the course of the program, our students learn valuable, practical,
        | and applicable skills in computer literacy, technology, and programming.
        | They work with tech professionals to build a meaningful solution to a
        | real problem and showcase their website at the end of program Demo Day.
      p
        | With the goal of building and releasing a web app, our students learn:
        br
        span &gt;
        |  Essential computer and tech literacy skills
        br
        span &gt;
        |  The fundamentals of programming, web development, and relevant
        | technologies (HTML, CSS, and JavaScript)
        br
        span &gt;
        |  Universal and applicable skills (problem solving and self-learning)
        br
        span &gt;
        |  The role of empathy, humility, and resilience in the learning process
      .section
        img.team-image(src='../images/community.jpg' alt='Community')
        h2 -- Our Students --
        p
          span Excellence in code can come from anyone.
          |  Our ideal student is anyone who is committed and eager to learn.
        p Requirements for participating:
          br
          span &gt;
          |  Participants must have an email address 
          br
          span &gt;
          |  No previous knowledge or skill needed
          br
          span &gt;
          |  No computer required
        p You should apply if:
          br
          span &gt;
          |  You are interested in learning more about computers, technology, and the Internet
          br
          span &gt;
          |  You would describe yourself as "creative" or "artistic"
          br
          span &gt;
          |  You think code "isn't for you"
          br
          span &gt;
          |  You like to build things
          br
          span &gt;
          |  You like puzzles
          br
          span &gt;
          |  You have an entrepreneurial spirit
          br
          span &gt;
          |  You are "bad at math"
    .section
      h2 -- Computer Access --
      p
        | Access to a computer and the Internet is crucial to learning to
        | code, so
        a(href='../support')  each of our students receives a laptop
        |  for the duration of the program.
    .section
      h2 -- Community &amp; Mentorship --
      p
        | We believe that a supportive community is essential to learning.
        | As such, we foster a diverse, collaborative, and engaged student
        | community and connect our students with
        a(href='../support')
        |  mentors from the tech industry to develop meaningful and lasting
        | relationships.
      div
        br
        include join-buttons
