extends layout

block content
  .container
    .title.program-header
      h1 our
      h1 program
      a.button(href='../public/pdfs/partnerships-flyer.pdf' target='_blank') Download Our Brochure
    .section
      h2 Our Philosophy
      p
        | Access to computer science education is fundamental to participate
        | in today’s increasingly digital world. And although the influence
        | of technology grows daily, tech education is only accessible
        | to a small and homogenous group.
      p
        | At the Code Cooperative, we believe that providing access to
        | computer science education to the most marginalized communities is
        | essential to solving the world’s most complex problems. As such,
        | we equip formerly incarcerated individuals with the skills to
        | become not only users and consumers of technology, but also its
        | creators.
    .section
      img.team-image(src='../images/program.jpg' alt='Our program')
      h2 -- Program Details --
      p
        span Time Commitment
        br
        | 10 weeks
        br
        | 5 hours / week for class
        br
        | 5 hours / week for Office Hours (optional)
        br 
        br
        span Location
        br
        | 243 Canal Street, 6th Floor
        br
        | New York, NY 10013
        <br>
        br
        | 1 : 6 teacher to student ratio
        br
        | No prerequisite knowledge or skills needed
        br
        | No cost to students
    .section
      h2 -- Curriculum Overview --
      p
        | At the Code Cooperative, we empower our students to take part
        | in building the solutions to the problems that affect them.
        | All of our students design, build, and release a website that aims
        | to address a social issue of personal importance.
      p
        | Over the course of the program, our students learn valuable, practical,
        | and applicable skills in computer literacy, technology, and programming.
        | They work with tech professionals to build a meaningful solution to a
        | real problem and showcase their website at the end of program Demo Day.
      p
        | With the goal of building and releasing a web app, our students learn:
        br
        span &gt;
        |  Essential computer and tech literacy skills
        br
        span &gt;
        |  The fundamentals of programming, web development, and relevant
        | technologies (HTML, CSS, and JavaScript)
        br
        span &gt;
        |  Universal and applicable skills (problem solving and self-learning)
        br
        span &gt;
        |  The role of empathy, humility, and resilience in the learning process
    .section
      img.team-image(src='../images/community.jpg' alt='Community')
      h2 -- Computer Access --
      p
        | Access to a computer and the Internet is crucial to learning to
        | code, so 
        a(href='../support') each of our students receives a laptop
        |  for the duration of the program.
    .section
      h2 -- Community &amp; Mentorship --
      p
        | We believe that a supportive community is essential to learning.
        | As such, we foster a diverse, collaborative, and engaged student
        | community and connect our students with
        a(href='../support')
        | mentors from the tech industry to develop meaningful and lasting
        | relationships.
      div
        br
        a.button(href='../pdfs/partnerships-flyer.pdf' target='_blank') Download Our Brochure
