extends layout

block content
  .container
    .title.program-header
      h1 our
      h1 program
      include join-buttons
    .section
      h2
        span .
        | Our Philosophy
      p
        | Access to computer science education is fundamental to participate
        | in today’s increasingly digital world. And although the influence
        | of technology grows daily, tech education is only accessible
        | to a small and homogenous group.
      p
        | At the Code Cooperative, we believe that providing access to
        | computer science education to the most marginalized communities is
        | essential to solving the world’s most complex problems. As such,
        | we equip formerly incarcerated individuals with the skills to
        | become not only users and consumers of technology, but also its
        | creators.
    .section
      .section.video-section
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/285580678" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
      h2
        span .
        | Program Details
      p
        | Fill out our&nbsp;
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSePRX9Ih26FshKOh9kAcb6gWpSGj-OpzZ9wns-aZi-04LvQzA/viewform" target="_blank") student interest form
        |  here to join our next class.
        br
        | You can also text us at&nbsp;
        span.pink +1 (917) 818-0476
        |  to sign up.
        br
        br
        span Time Commitment
        br
        | 16 weeks starting in October 2019
        br
        | 13 hours of class time per week
        br
        | Thursdays &amp; Saturdays 11am to 5pm
        br
        br
        span Location
        br
        | Living Redemption Youth Opportunity Hub
        br
        | 302 W 124th St
        br
        | New York, NY 10027
        br
        br
        span No cost for participants
        br
        | Our classes are completely free
        br
        | Members can borrow laptops for the duration of the program
        br
        | Transportation costs covered
        br
        | Food &amp; coffee at every class
        br
        br
        include join-buttons
        br
        br
    .section
      img.team-image(src='../images/coding4.jpg' alt='Our program')
      h2
        span .
        | How We Learn
      p
        | We believe in the transformative power of
        | technology education. Learning to use and
        | build technology can lead to employment,
        | entrepreneurship, community, art creation,
        | and healing. Our members learn that they can
        | contribute to the world in a positive way through
        | developing technology that solves problems that
        | affect them and their communities.
      p
        | Our members learn:
        br
        span &gt;
        |  Essential computer and tech literacy skills (eg. how to use the Internet, send professional emails, write a resume)
        br
        span &gt;
        |  Fundamentals of coding and web development (with HTML, CSS, and JavaScript)
        br
        span &gt;
        |  Introductory cybersecurity and hacking
        br
        span &gt;
        |  Universal and applicable skills (problem solving and self-learning)
        br
        span &gt;
        |  The role of self-compassion, humility, and resilience in the learning process
      .section
        img.team-image(src='../images/coding2.jpg' alt='Community')
        h2
          span .
          | Our Students
        p
          span Excellence in code can come from anyone.
          |  Our ideal student is anyone who is committed and eager to learn.
        p Requirements for participating:
          br
          span &gt;
          |  Participants must have an email address or phone number
          br
          span &gt;
          |  No previous knowledge or skill needed
          br
          span &gt;
          |  No computer required
        p You should apply if:
          br
          span &gt;
          |  You want to learn more about computers, technology, and the Internet
          br
          span &gt;
          |  You describe yourself as "creative" or "artistic"
          br
          span &gt;
          |  You think code isn't for you
          br
          span &gt;
          |  You think code IS for you
          br
          span &gt;
          |  You like to build things
          br
          span &gt;
          |  You like puzzles
          br
          span &gt;
          |  You have an entrepreneurial spirit
          br
          span &gt;
          |  You are "bad at math"
          br
          span &gt;
          |  You love your phone
    .section
      img.team-image(src='../images/kendall.jpg' alt='Community')
      h2
        span .
        | Computer Access
      p
        | Access to a computer and the Internet is crucial to learning to
        | code, so
        a(href='../support#donate')  each of our students receives a laptop
        |  for the duration of the program.
    .section
      h2
        span .
        | Community &amp; Mentorship
      p
        | The Code Cooperative is a community above all. We take care of each other, learn together, and grow together.
        |
        a(href="../support#mentor") Our mentorship model
        |  allows for a highly personalized and supportive learning experience in which our members set their own goals and work at their own pace.
      div
        br
        include join-buttons
