.section
  h2 -- Sponsors --
  .sponsors-container
    a.sponsor(href='http://kickstarter.com' target='_blank')
      img.sponsor-image.kickstarter(src='images/kickstarter.png' alt='kickstarter')
    a.sponsor(href='http://skillshare.com' target='_blank')
      img.sponsor-image.skillshare(src='images/skillshare.png' alt='thrillist')
    a.sponsor(href='http://thrillist.com' target='_blank')
      img.sponsor-image.skillshare(src='images/thrillist.png' alt='thrillist')
    a.sponsor(href='http://giphy.com' target='_blank')
      img.sponsor-image.giphy(src='images/giphy.png' alt='gihpy')
      
        