extends layout

block content
  .container
    .title
      h1 our team
    .section
      img.team-image(src='../images/alex.jpg' alt='Alex Qin')
      h2
        span .
        | Alex Qin
      p
        a(href='http://twitter.com/alexqin') Alex Qin
        |   is a Brooklyn based programmer, teacher, and public speaker.
        | She believes in universal access to computer science education
        | and in the importance of building technology for good.
        | She is on the Board of the Computer Science Teachers
        | Association of NYC and on the Associate Board of&nbsp;
        a(href='https://codeinteractive.org') Code/Interactive
        |  and&nbsp;
        a(href='http://mouse.org') Mouse
        | . She recently left&nbsp;
        a(href='http://gakkoproject.com/') Gakko
        | , where she was the Director of Technology, to work on the Code Cooperative full time.
        |  Prior to that, she was the Web Engineering Team Lead at&nbsp;
        a(href='http://skillshare.com') Skillshare
        |  and the Curriculum Director at&nbsp;
        a(href='http://c4q.nyc') Coalition for Queens
        | . She holds a B.A. in Computer Science from New York University.
    .section
      br
      img.team-image(src='../images/gaby.jpg' alt='Gaby Marraro')
      h2
        span .
        | Gaby Marraro
      p
        | Gaby Marraro is a self-taught programmer who rediscovered her love for
        | learning through coding. She is currently a Software Engineer at Ellevest, 
        | an instructor at&nbsp;
        a(href='http://thecodingspace.com') The Coding Space
        | , and has led introductory coding workshops for incarcerated women
        | on Rikers Island. Using her background in psychology, education,
        | and crisis response, she is passionate about creating the intersection
        | between coding and humanist values. She is working towards a B.A.
        | in Psychology at Barnard College.
    .section
      br
      img.team-image(src='../images/yeli.jpg' alt='Omayeli Arenyeka')
      h2
        span .
        | Omayeli Arenyeka
      p
        a(href="https://www.omayeli.com/") Omayeli
        |  is an artist and technologist currently based in New York.
        | She's interested in democratizing computer science education but
        | not without an emphasis on ethics and responsible computing.
        | Her work explores using code as an artistic medium. She studied Computer Science,
        | Design and Art at New York University. Previously, she worked as a
        | Software Engineer at LinkedIn and was a student at School of Poetic Computation.
        |  She's currently studying at the Recurse Center.
    .section
      br
      img.team-image(src='../images/kathryn.jpg' alt='Kathryn Hurley')
      h2
        span .
        | Kathryn Hurley
      p
        | Kathryn is an in-house Legal Counsel at Spotify in New York. In this role she provides legal support to the R&amp;D
        | and product groups at Spotify, including its Accessibility Guild.
        | Prior to Spotify, Kathryn was the General Counsel at MakerBot Industries (desktop 3D printing and scanning).
        | At MakerBot helped the company overcome many novel and complex issues as it related to 3D printing and
        | new technology in general. In her tenure at MakerBot and now Spotify, Kathryn has become a budding legal
        | authority on legal and IP issues facing tech, media, and consumer electronic companies.
        | As a woman and person of color, Kathryn knows how important it is to get more underrepresented individuals
        | involved in tech and makes a special effort to make herself accessible and visible as often as she can. To that
        | end, she is also Board Chair of new charter middle school in the Bronx, NY.
        | For fun outside of work, Kathryn enjoys traveling and running – she is also co-organizer of NYC Tech Runners
        | – a running group that brings together those working in the tech space.
    .section
      br
      img.team-image(src='../images/rachel.jpg' alt='Rachel Troy')
      h2
        span .
        | Rachel Troy
      p
        | Rachel has worked at the intersection of technology and education for
        | several years and is passionate about making technology and educational
        | opportunities accessible to all. Currently Product Launch Lead at Fullstack Academy,
        | formerly Head of Student Success at Coalition for Queens, Rachel is excited about the
        | chance to build a diverse and engaged community centered around empowering marginalized
        | groups via technology.

