extends layout

block content
  .container
    .title
      h1 about us
    .section
      img.team-image(src='../images/us.jpg' alt='us')
      h2
      p
        span We are a community of people who dare to dream of healed worlds.
        |  We are a collective of passionate volunteers.
        | We see a problem that we want to address.
        | The tech industry is a closed and homogenous group that builds things that serve some people and not others. Things that harm a lot of people.
        | We want to democratize access to tech education and teach our most vulnerable populations highly valuable skills that will allow us to have access to more opportunities, to create opportunities for ourselves, and to build technology that solves real problems that we have identified and experienced.
      h2
      img.team-image(src='../images/us5.jpg' alt='us')
      h2
      p
        span We work for the liberation of all beings.
        |  We imagine and commit to building a world where our collective humanity is reflected in technology, society, and policy.
      p
        i "No one is free until we are all free." - Martin Luther King, Jr.
