extends layout

block content
  .container
    .title
      h1 our team
    .section
      img.team-image(src='../images/alex.jpg' alt='Alex Qin')
      h2
        span .
        | Alex Qin
      p
        a(href='http://twitter.com/alexqin') Alex Qin
        |  is the founder of the Code Cooperative. She 
        | is a Brooklyn based programmer, educator, and public speaker. 
        | She believes in universal access to computer science education 
        | and in the importance of building technology for good.  
        | She is the Director of Technology at 
        a(href='http://gakkoproject.com/') Gakko
        | , a global education design studio based in Tokyo and NYC.
        | She is on the Board of Directors of the Computer Science Teachers 
        | Association of NYC and on the Associate Board of 
        a(href='https://codeinteractive.org') Code/Interactive 
        | and 
        a(href='http://mouse.org') Mouse
        | . Prior to joining Gakko, she was the Web Engineering Team Lead at 
        a(href='http://skillshare.com') Skillshare
        |  and the Curriculum Director at 
        a(href='http://c4q.nyc') Coalition for Queens
        | . She holds a B.A. in Computer Science from New York University.
      br
      img.team-image(src='../images/gaby.jpg' alt='Gaby Marraro')
      h2
        span .
        | Gaby Marraro
      p
        | Gaby Marraro is the COO and teacher at the Code Cooperative. 
        | She is a self-taught programmer who rediscovered her love for
        | learning through coding. She is currently an instructor at 
        a(href='http://thecodingspace.com') The Coding Space
        | , and has led introductory coding workshops for incarcerated women
        | on Rikers Island. Using her background in psychology, education,
        | and crisis response, she is passionate about creating the intersection
        | between coding and humanist values. She is working towards a B.A. 
        | in Psychology at Barnard College.
