/*
 *
 * Hero
 *
 */

@use "../../styles/abstracts/mixins";

.root {
  // Most styles were moved inline to the component,
  // but we can keep the image filter here.
  img {
    @include mixins.imgFilter;
  }
}

.heroTitle {
  padding: var(--sp-base);
  @include mixins.heroTitle;
}

.imageOverlay {
  text-shadow: var(--gray-600) 1px 0 30px;
  // grid-area and position are now inline
  place-items: flex-start;
  align-items: flex-end;
  display: grid;
  color: var(--white-500);

  & > * {
    @media (min-width: 768px) {
      left: 15%;
    }
  }
}
