@import "../../_assets/css/abstracts/1-abstracts";

.mainFooter {
  margin-top: spacing(looser);
}

.mainFooter-inner {
  border-top: 1px solid color(gray500);
  padding-top: spacing(tight);
  padding-bottom: spacing(tight);
  // font-size: fs(sm);

  display: grid;
  gap: spacing(tight);
  @include bp(med) {
    grid-template-columns: repeat((3, 1fr));
  }
}
.mainFooter-copyRight {
  justify-self: center;
  @include bp(med) {
    justify-self: left;
    padding-left: spacing(tight);
  }
}

.mainFooter-emailGroup {
  justify-self: center;
  @include bp(med) {
    justify-self: center;
  }
}

.mainFooter-socialMediaGroup {
  justify-self: center;

  @include bp(med) {
    justify-self: right;
    padding-right: spacing(tight);
  }
  .socialMedia-item {
    &:not(:last-child) {
      margin-right: spacing(base);
    }
  }
}
