// @use "../abstracts/variables";
// @use "../abstracts/color";
@use "../base/typography";

// Alignment
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}

// weights
.fwb {
  font-weight: var(--fw-heaviest);
}

// variants
.link {
  color: var(--blue-500);
  text-decoration: none;
}

.fhl {
  background-color: colors(yellow100);
}
