@import "../../_assets/css/abstracts/1-abstracts";

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--sp-base);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  @include bp(max) {
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--sp-loose);
  }

  input {
    margin: 5px 0;
  }
}

.inputWrapper {
  width: 100%;
  margin-right: 0;
  margin-bottom: var(--sp-base);

  @include bp(max) {
    width: auto;
    flex-grow: 1;
    max-width: 428px;
    margin-right: var(--sp-base);
    margin-bottom: 0px;
  }
}
