@import "../../_assets/css/abstracts/1-abstracts";

.root {
  margin-top: var(--sp-looser);
  margin-bottom: var(--sp-base);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  @include bp(med, max) {
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--sp-loose);
  }
}

.inputWrapper {
  width: 100%;
  margin-right: 0;
  margin-bottom: var(--sp-base);

  @include bp(med, max) {
    width: auto;
    flex-grow: 1;
    max-width: 428px;
    margin-right: var(--sp-base);
    margin-bottom: 0px;
  }
}

.form {
  background-color: var(--gray-300);
  padding: var(--sp-loose);

  .title {
    margin-top: 0;
  }

  .textField {
    margin-top: var(--sp-loose);
  }
}

.successMessage {
  margin: 0 auto;
  text-align: center;
  padding: var(--sp-loose) var(--sp-base);
  background-color: rgba(#66e271, 0.2);
  border: 1px solid var(--green-500);
}

.successIcon {
  width: 3rem;
  height: 3rem;
}
