/*------------------------------------*\
    Base Styles (Fonts, Forms, Layout, Typography)
\*------------------------------------*/
@import "abstracts/tokens";
@import "abstracts/mixins";

@import "base/forms";
@import "base/layout";
@import "base/typography";

/*------------------------------------*\
    Utility Classes (Spacing, Borders, etc.)
\*------------------------------------*/
@import "utilities/border";
@import "utilities/spacing";
@import "utilities/type";

/*------------------------------------*\
    Legacy Global Styles from style.scss
\*------------------------------------*/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.twoColumnLayout {
  display: flex;
  gap: var(--sp-base);
  flex-wrap: wrap;
  justify-content: center;
  & > * {
    flex: 1 1 300px;
  }
  & > *:first-child {
    border-left: solid thick var(--ew-green);
    padding-left: 25px;
  }
}

.title {
  font-size: var(--fs-xxl);
  margin-bottom: var(--sp-base);
}

// New design for .content
.page-content {
  padding-left: var(--sp-loose);
  padding-right: var(--sp-loose);

  @media (min-width: 68rem) {
    padding-left: 0;
    padding-right: 0;
  }

  @include bp() {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  max-width: 100%;
}

hr {
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.no-scroll-mobile {
  @media (max-width: 51.5rem) {
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }
}
