@font-face {
  font-family: "ibmPlexSans-Regular";
  src: url("../fonts/IBM-Plex-Sans/IBMPlexSans-Regular.eot");
  src: url("../fonts/IBM-Plex-Sans/IBMPlexSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-Regular.woff2") format("woff2"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-Regular.woff") format("woff"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmPlexSans-Light";
  src: url("../fonts/IBM-Plex-Sans/IBMPlexSans-Light.eot");
  src: url("../fonts/IBM-Plex-Sans/IBMPlexSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-Light.woff2") format("woff2"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-Light.woff") format("woff"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmPlexSans-Medium";
  src: url("../fonts/IBM-Plex-Sans/IBMPlexSans-Medium.eot");
  src: url("../fonts/IBM-Plex-Sans/IBMPlexSans-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-Medium.woff2") format("woff2"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-Medium.woff") format("woff"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmPlexSans-SemiBold";
  src: url("../fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.eot");
  src: url("../fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.woff") format("woff"),
    url("../fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
