@font-face {
  font-family: "geomanist-light";
  src: url("../fonts/geomanist/Geomanist-Light/geomanist-light-webfont.eot");
  src: url("../fonts/geomanist/Geomanist-Light/geomanist-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist/Geomanist-Light/geomanist-light-webfont.woff2")
      format("woff2"),
    url("../fonts/geomanist/Geomanist-Light/geomanist-light-webfont.woff")
      format("woff"),
    url("../fonts/geomanist/Geomanist-Light/geomanist-light-webfont.ttf")
      format("truetype"),
    url("../fonts/geomanist/Geomanist-Light/geomanist-light-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanist-regular";
  src: url("../fonts/geomanist/Geomanist-Regular/geomanist-regular-webfont.eot");
  src: url("../fonts/geomanist/Geomanist-Regular/geomanist-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist/Geomanist-Regular/geomanist-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/geomanist/Geomanist-Regular/geomanist-regular-webfont.woff")
      format("woff"),
    url("../fonts/geomanist/Geomanist-Regular/geomanist-regular-webfont.ttf")
      format("truetype"),
    url("../fonts/geomanist/Geomanist-Regular/geomanist-regular-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanist-book";
  src: url("../fonts/geomanist/Geomanist-Book/geomanist-book-webfont.eot");
  src: url("../fonts/geomanist/Geomanist-Book/geomanist-book-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist/Geomanist-Book/geomanist-book-webfont.woff2")
      format("woff2"),
    url("../fonts/geomanist/Geomanist-Book/geomanist-book-webfont.woff")
      format("woff"),
    url("../fonts/geomanist/Geomanist-Book/geomanist-book-webfont.ttf")
      format("truetype"),
    url("../fonts/geomanist/Geomanist-Book/geomanist-book-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanist-medium";
  src: url("../fonts/geomanist/Geomanist-Medium/geomanist-medium-webfont.eot");
  src: url("../fonts/geomanist/Geomanist-Medium/geomanist-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist/Geomanist-Medium/geomanist-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/geomanist/Geomanist-Medium/geomanist-medium-webfont.woff")
      format("woff"),
    url("../fonts/geomanist/Geomanist-Medium/geomanist-medium-webfont.ttf")
      format("truetype"),
    url("../fonts/geomanist/Geomanist-Medium/geomanist-medium-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanist-black";
  src: url("../fonts/geomanist/Geomanist-Black/geomanist-black-webfont.eot");
  src: url("../fonts/geomanist/Geomanist-Black/geomanist-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist/Geomanist-Black/geomanist-black-webfont.woff2")
      format("woff2"),
    url("../fonts/geomanist/Geomanist-Black/geomanist-black-webfont.woff")
      format("woff"),
    url("../fonts/geomanist/Geomanist-Black/geomanist-black-webfont.ttf")
      format("truetype"),
    url("../fonts/geomanist/Geomanist-Black/geomanist-black-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
