// Font Family
body {
  font-family: var(--font-base);
  font-size: var(--fs-base);
  color: var(--gray-600);
  margin: 0;
}

h1,
.h1 {
  font-family: var(--font-semiBold);
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-base);
  line-height: 2.5rem;
  font-weight: var(--fw-heavy);
  font-size: var(--fs-xl);
}

h2,
.h2 {
  // font-family: map-get($font, medium);
  font-family: var(--font-light);
  font-size: var(--fs-xl);
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-base);
  font-weight: normal;
  font-size: var(--fs-l);
}

h3,
.h3 {
  // font-family: map-get($font, medium);
  font-size: var(--fs-l);
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-base);
  font-weight: normal;
}

h4,
.h4 {
  font-size: var(--fs-base);
  text-transform: uppercase;
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-base);
  font-weight: normal;
  font-size: var(--fs-sm);
}

a {
  font-family: var(--font-semiBold);
  color: var(--link-primary);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--link-secondary-hover);
  text-decoration: none;
  text-decoration-thickness: 2px;
}

a.secondary:link,
a.secondary:visited {
  font-family: var(--font-text);
  color: var(--link-secondary);
  text-decoration: none;
}

a.secondary:hover,
a.secondary:focus,
a.secondary:active {
  color: var(--link-secondary-hover);
}

p {
  line-height: var(--lh-base);
}

.bold {
  font-family: var(--font-medium);
}

.bullet-list {
  li:not(:first-child) {
    margin-top: var(--sp-tight);
  }
}

.content-max-width {
  max-width: var(--content-max-width);
}

.cornerBorders {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: var(--sp-base);
  padding: var(--sp-base) var(--sp-loose);
}
.cornerBorders:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  border-top: 4px solid var(--gray-600);
  border-left: 4px solid var(--gray-600);
}
.cornerBorders:after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  border-bottom: 4px solid var(--ew-green);
  border-right: 4px solid var(--ew-green);
}

h2.cornerBorders {
  margin-top: var(--sp-loose);
  margin-bottom: var(--sp-loose);
  margin-left: var(--sp-base);
  margin-right: var(--sp-loose);
  @media (min-width: 768px) {
    margin: var(--sp-looser);
  }
}
