@use "../abstracts/variables";
@use "../abstracts/color";

// Font Family
body {
  font-family: map-get($font, base);
  font-size: var(--fs-m);
}

h1,
.h1 {
  font-family: map-get($font, medium);
  font-size: 3rem;
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-base);
  line-height: 1;
  font-weight: normal;

  @include bp(med) {
    font-size: var(--fs-xxl);
  }
}

h2,
.h2 {
  font-family: map-get($font, medium);
  font-size: var(--fs-xl);
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-base);
  font-weight: normal;
}

h3,
.h3 {
  font-family: map-get($font, medium);
  font-size: var(--fs-l);
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-base);
  font-weight: normal;
}

h4,
.h4 {
  font-family: map-get($font, medium);
  font-size: var(--fs-base);
  text-transform: uppercase;
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-base);
  font-weight: normal;
}

a:not([class]),
.link {
  color: var(--blue-500);
  text-decoration: none;
  @include trans();

  &:hover {
    color: #c5c5e9;
  }

  &:hover:not(:disabled) {
    color: var(--blue-600);
  }

  &:active {
    text-decoration: underline;
  }
}

p {
  font-size: var(--fs-m);
  line-height: lh(loose);
}

.bold {
  font-family: map-get($font, medium);
}

.bullet-list {
  li:not(:first-child) {
    margin-top: var(--sp-tight);
  }
}
