.root {
  &.navActive {
    @media (max-width: 51.5rem) {
      overflow: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
    }
  }
}

.banner {
  text-align: center;
  background-color: var(--gray-300);
  padding-top: var(--sp-base);
  padding-bottom: var(--sp-base);
}
