@import '../_assets/css/abstracts/mixins';

/*
 *
 * About
 *
 */
.root {
  p {
    line-height: var(--lh-loose);
  }

  h1 {
    @media (min-width: 768px) {
      font-size: var(--fs-xxl);
    }
  }

  section {
    margin-top: var(--sp-loose);
  }

  img {
    @include imgFilter;
    border-radius: var(--border-radius);
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  section h2 {
    font-family: var(--font-semiBold);
    font-size: var(--fs-lg);
    @media (min-width: 768px) {
      font-size: var(--fs-xxl);
    }
  }

  .prominent {
    font-family: var(--font-base);
    font-size: var(--fs-base);
    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  .subheading {
    font-family: var(--font-medium);
    @media (min-width: 768px) {
      font-size: var(--fs-base);
    }
  }

  .about {
    @media (min-width: 768px) {
      border-right: 1px solid var(--slate-900);
      padding-right: var(--sp-base);
    }
  }
}
