@import '../_assets/css/abstracts/mixins';

.work {
  border: 2px solid #eee;
  margin: 0 auto 20px auto;
  max-width: 800px;
}

.contactUs {
  padding-top: var(--sp-looser);
}

.servicesGroup {
  display: grid;
  gap: var(--sp-loose);
  margin-top: var(--sp-loose);

  @include bp(med) {
    margin-top: var(--sp-looser);
  }
}
