/*
 *
 * Donation
 *
 */

iframe {
  border: 0;
  width: 100%;
  height: 1500px;
  @media (min-width: 768px) {
    height: 1000px;
  }
}

.laptop {
  width: 350px;
  float: right;
}

.pageTitle {
  border-bottom: solid thick var(--ew-green);
  padding-bottom: 20px;
  margin-bottom: 60px;
  width: 100%;
}

.heavy {
  font-weight: heavy;
}
