/*
 *
 * Donation
 *
 */

[id='8cd72529-b118-4d39-99e1-45641cb119fc'] {
  margin-top: var(--sp-base);
  @media (min-width: 768px) {
    margin: var(--sp-looser) auto 0;
  }
}

.pageTitle {
  border-bottom: solid thick var(--ew-green);
  padding-bottom: 20px;
  margin-bottom: 60px;
  width: 100%;
}
