@import "../_assets/css/abstracts/mixins";

.title {
  margin-bottom: var(--sp-looser);

  @include bp(med) {
    margin-bottom: 11.25rem;
  }
}

.contactUs {
  padding-top: var(--sp-looser);
}

.servicesGroup {
  display: grid;
  gap: var(--sp-loose);
  margin-top: var(--sp-loose);

  @include bp(med) {
    margin-top: var(--sp-looser);
  }
}
