@use "../_assets/css/abstracts/1-abstracts";

/*
 *
 * Home
 *
 */
body {
  overflow-x: hidden;
}

.companies {
  position: absolute;
  right: -160px;
  margin-top: var(--sp-looser);
  margin-right: calc(-1 * var(--sp-base));
  width: var(--bp-med);
}

.videoCaption {
  font-style: italic;
  text-align: center;
}

.gridContainer12 {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: var(--sp-base);
}

.gridColLeft {
  grid-column: col-start / span 7;
}

.gridCol11 {
  grid-column: col-start / span 11;
}

.gridCol12 {
  grid-column: col-start / span 12;
}

.gridColRight {
  grid-column: col-start 9 / span 4;
  align-self: end;
}

.title {
  font-size: var(--fs-largest);
  letter-spacing: -0.0235em;
  line-height: 140%;
}

@media (min-width: 1300px) {
  .imageGrid {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1300px) {
  // .companies {
  //   position: relative;
  //   margin: var(--sp-max) auto 0;
  //   right: 0;
  // }
  .companies {
    position: absolute;
    right: -160px;
    margin-top: var(--sp-looser);
    margin-right: calc(-1 * var(--sp-base));
    width: var(--bp-med);
  }
}

@media (max-width: 1140px) {
    .companies {
      display: none;
    }
}

@media (max-width: 800px) {
  .gridColLeft {
    grid-column: col-start / span 12;
  }

  .gridColRight {
    grid-column: col-start 5 / span 8;
    text-align: right;
  }

  .companies {
    display: none;
  }

  .metrocard {
    display: none;
  }
}

.squigglyUnderline {
  padding-bottom: 22px;
  background: url("../_assets/images/squiggly.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}
