@use "../_assets/css/abstracts/1-abstracts";

/*
 *
 * Home
 *
 */
.sponsorNames {
  position: absolute;
  right: 0;
  margin-top: var(--sp-looser);
  margin-right: calc(-1 * var(--sp-base));
  width: var(--bp-med);
}

.videoCaption {
  font-style: italic;
  text-align: center;
}

.gridContainer12 {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: var(--sp-base);
}

.gridColLeft {
  grid-column: col-start / span 7;
}

.gridCol11 {
  grid-column: col-start / span 11;
}

.gridColRight {
  grid-column: col-start 8 / span 5;
  justify-self: end;
  align-self: end;
}

@media (max-width: 1300px) {
  .sponsorNames {
    position: relative;
    width: var(--bp-lg);
    margin: var(--sp-max) auto 0;
  }
}

@media (max-width: 800px) {
  .gridColLeft {
    grid-column: col-start / span 12;
  }

  .gridColRight {
    grid-column: col-start 4 / span 9;
    text-align: right;
  }

  .sponsorNames {
    width: 100%;
  }
}
