@import 'src/_assets/css/abstracts/_mixins.scss';

/*
 *
 * Home
 *
 */

section > h3,
h4,
h5 {
  text-align: center;
}

section {
  margin: var(--sp-base);
}

.hideOnMobile {
  @media (max-width: 376px) {
    display: none;
  }
  display: inherit;
}

.hideOnDesktop {
  @media (min-width: 376px) {
    display: none;
  }
}

.heroWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 376px) {
    flex-direction: row;
  }
}

.heroCopy {
  width: fit-content;
}

.heroImage {
  border: 1px solid var(--slate-900);
  background-color: var(--white-500);
  padding: var(--sp-base);
  width: 100%;
}

.threeUpCardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--sp-base);
}

.threeUpCardWrapper > * {
  border: 1px solid var(--slate-900);
  display: flex;
  flex: 0 1 350px;
  flex-direction: column;
  padding: var(--sp-base);
  background-color: var(--white-500);
}

.statistics {
  color: var(--white-500);
  background-color: var(--slate-900);
}

.cardImageRound {
  display: block;
  border-radius: 50%;
}

.supportWrapper {
  display: flex;
  flex-wrap: wrap;
}

.supportImage {
  flex: 1 1 150px;
  @media (min-width: 376px) {
    width: 60%;
  }
}

.supportContent {
  font-size: var(--fs-l);
  color: var(--white-500);
  background-color: var(--slate-900);
  @media (min-width: 376px) {
    width: 40%;
  }
}

.twoUpCardWrapper {
  @include removeBullets();
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  background-color: var(--slate-900);
  border-color: var(--slate-900);
  border-style: solid;
  border-width: 1px;
}

.twoUpCard {
  flex: 1 1 200px;
  background-color: var(--white-500);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;

  a {
    @include removeLinkStyles();
    display: block;
    padding: var(--sp-max) var(--sp-loose);
  }
}

.cardYellow {
  background-image: url('_assets/images/waterColor-yellow.png');
}

.cardPurple {
  background-image: url('_assets/images/waterColor-purple-2.png');
}

.twoUpCard:hover {
  background-color: var(--slate-900);
  background-image: url('_assets/images/arrow-chalk.png');
  background-size: 40%;
  background-position: left 10% bottom 10%;
  transition: background-color var(--trans-base) ease;
  & > * {
    color: var(--white-200);
  }
}
