@import '../_assets/css/abstracts/mixins';

.root {
  img {
    @include imgFilter;
  }

  h2,
  .prominent {
    font-family: var(--font-semiBold);
    line-height: var(--lh-loose);
    font-size: var(--fs-base);
    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  .partnersFooter {
    margin-top: var(--sp-looser);
    text-align: center;
  }
}
