@import '../_assets/css/abstracts/mixins';

@mixin sectionStyles {
  display: flex;
  flex-wrap: wrap;
  max-width: 2000px;
  margin: 0 auto;
}

.programsWrapper {
  @include sectionStyles();
  gap: 1px;
  background-color: var(--slate-900);
  border-color: var(--slate-900);
  border-style: solid;
  border-width: 1px;
}

.programsCard {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 var(--sp-loose);
  @include bp(lg) {
    padding: var(--sp-loose) var(--sp-looser) 0;
  }
}

.contentSectionWrapper {
  @include sectionStyles();
  border-color: var(--slate-900);
  border-style: solid;
  border-width: 0 1px 1px;
}

.contentSectionCopy {
  flex: 1 1 300px;
  padding: var(--sp-loose) var(--sp-looser) 0;
}

.contentSectionContent {
  flex: 1 1 300px;
  width: 100%;
}
