@import "../_assets/css/abstracts/mixins";

.section {
  & > p:last-of-type {
    margin-bottom: var(--sp-loose);
  }
}

.mentorshipVideo {
  margin-bottom: var(--sp-looser);

  iframe {
    width: 100%;
    height: auto;

    @include bp() {
      max-width: 612px;
      max-height: 360px;
    }
  }
}

.fellowshipSection {
  // ToDo: Sync with Savannah about spacing
  margin-top: 6rem;
}
