/* 
 *
 * Style Guide 
 *
 */

//  Color Swatches
$colors: (
  blue500: #3333ff,
  blue600: #191980,
  green500: #66e271,
  purple500: #9761ff,
  yellow500: #fff42c,
  white500: #f2efe4,
  gray300: #f3f3f3,
  gray400: #d9d5c7,
  gray500: #3f3b3c,
);

.swatchItem {
  border: white 5px solid;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.217816);

  @each $key, $val in $colors {
    &.#{$key} {
      background: $val;
      &::before {
        content: "#{$key} \A #{$val}";
        white-space: pre-wrap;
        text-align: center;
      }
    }
  }
}

.blue500,
.gray500,
.purple500 {
  color: var(--white-500);
}

//  Typography

.label {
  margin-top: var(--sp-looser);
}

.typefaceDemoGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
}

.typefaceBase {
  font-family: var(--font-base);
}
.typefaceLight {
  font-family: var(--font-light);
}
.typefaceMedium {
  font-family: var(--font-medium);
}
.typefaceSemiBold {
  font-family: var(--font-semiBold);
}

.typefaceTitle {
  font-size: var(--fs-xxl);
}

.typefaceName {
  font-size: 1rem;
}
