@import '../_assets/css/abstracts/mixins';

.root {
  p {
    line-height: var(--lh-loose);
  }

  h1 {
    @media (min-width: 768px) {
      font-size: var(--fs-xxl);
    }
  }

  section {
    margin-top: var(--sp-loose);
  }

  section img {
    border-radius: var(--border-radius);
  }

  section h2 {
    font-family: var(--font-semiBold);
    font-size: var(--fs-lg);
    @media (min-width: 768px) {
      font-size: var(--fs-xxl);
    }
  }

  .hero {
    @include imgFilter;
  }

  .team {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: var(--sp-base);
    grid-row-gap: var(--sp-base);
    @media (min-width: 768px) {
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: var(--sp-loose);
      grid-row-gap: var(--sp-loose);
    }
  }

  .card {
    position: relative;
    color: var(--white-500);
    font-size: var(--fs-sm);
  }

  .info {
    position: absolute;
    padding: 4px 0 4px 8px;
    bottom: 8px;
    display: inline-block;
    width: 100%;
    z-index: 1;
  }

  .info::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background: var(--slate-900);
    z-index: -1;
    content: '';
  }

  .name {
    font-size: var(--fs-base);
    text-transform: capitalize;
    font-family: var(--font-italic);
    margin-top: var(--sp-tight);
    margin-bottom: var(--sp-tight);
  }
}
