@import "../_assets/css/abstracts/mixins";

.section {
  & > p:last-of-type {
    margin-bottom: var(--sp-loose);
  }
}

.title {
  margin-bottom: var(--sp-looser);
}

.videoWrapper {
  margin-bottom: var(--sp-looser);
  padding: 56.25% 0 0 0;
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fellowshipSection {
  // ToDo: Sync with Savannah about spacing
  margin-top: 6rem;
}

.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(168px, 168px));
  column-gap: var(--sp-max);
  row-gap: var(--sp-loose);
}

.title {
  margin-bottom: var(--sp-looser);

  @include bp(med) {
    margin-bottom: 5rem;
  }
}

.subtitle {
  margin-top: 100px;
  margin-bottom: 50px;
}

.name {
  font-size: var(--fs-base);
  text-transform: capitalize;
  font-family: var(--font-italic);
  margin-top: var(--sp-tight);
  margin-bottom: var(--sp-tight);
}

.partnersTitle {
  margin-top: var(--sp-loosest);
  margin-bottom: var(--sp-loose);
}

.logoGroup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 160px));
  gap: var(--sp-loosest);
}

.logoItem {
  align-self: center;
}
