@import "../_assets/css/abstracts/1-abstracts";

/*
 *
 * Volunteer Videos
 *
 */

.volunteer-videoSection {
  background-color: color(blue500);
  padding-top: spacing(base);
  padding-bottom: spacing(loose);

  @include bp(med) {
    padding-top: spacing(loose);
    padding-bottom: spacing(supsloose);
  }
}

.volunteer-videoInner {
  text-align: center;
}

.volunteer-videoTitle {
  color: color(white500);
}

.volunteer-video {
  max-width: 100%;

  @include bp(med) {
    width: 640px;
    height: 360px;
  }
}

/*
 *
 * Volunteer FAQ
 *
 */

.volunteerFaq-item {
  margin-top: spacing(loose);

  @include bp(med) {
    max-width: 32rem;
  }
}

.volunteerFaq-sectionTitle {
  margin-top: 0;
}

.volunteerFaq-section {
  padding-top: spacing(base);
  padding-bottom: spacing(base);

  @include bp(med) {
    padding-top: spacing(looser);
    padding-bottom: spacing(looser);
  }
}

/*
 *
 * Volunteer Support
 *
 */

.volunteer-support {
  background-color: color(white500);
  margin-top: spacing(base);
}

.volunteer-supportInner {
  padding-top: spacing(base);
  padding-bottom: spacing(base);
  display: grid;

  @include bp(med) {
    gap: spacing(loose);
    grid-template-columns: repeat(2, 1fr);
    padding-top: spacing(loose);
    padding-bottom: spacing(loose);
  }
}
