/* 
 *
 * Color Sass Map
 *
 */

$colors: (
  blue500: #3333ff,
  blue600: #191980,
  green500: #66e271,
  purple500: #9761ff,
  yellow500: #fff42c,
  white500: #f2efe4,
  gray300: #f3f3f3,
  gray400: #d9d5c7,
  gray500: #3f3b3c,
  // white500: #fbfbfb,
    // gray100: #f2f2f2,
    // gray200: #e8e9e9,
    // gray300: #d1d3d4,
    // // gray500: #babdbf,
    // gray500: #babdbf,
    // gray700: #808488,
    // gray800: #666a6d,
    // gray900: #4d5052,
    // black500: #212122,,,
);

/* 
 *
 * Sass map color function
 *
 */

@function color($color: yellow500) {
  @return map-get($colors, $color);
}
