/* 
 *
 * Color Sass Map
 *
 */

$colors: (
  primary500: #c01b00,
  primary100: #ca4f3d,
  primary200: #a61600,
  primary600: #a61600,
  secondary500: #7bbd6a,
  secondary100: #b1c8ac,
  secondary200: #598a4d,
  secondary600: #363d35,
  tertiary500: #135793,
  tertiary100: #60a5e0,
  tertiary200: #1d85e0,
  tertiary600: #0b3254,
  white500: #fbfbfb,
  gray100: #f2f2f2,
  gray200: #e8e9e9,
  gray300: #d1d3d4,
  gray500: #babdbf,
  gray700: #808488,
  gray800: #666a6d,
  gray900: #4d5052,
  black500: #212122
);

/* 
 *
 * Sass map color function
 *
 */

@function color($color: red500) {
  @return map-get($colors, $color);
}
