/* 
 *
 * Sass Mixins
 *
 */


 // Breakpoint
$bp: (
  sm: 20rem,
  med: 36rem,
  lg: 51.5rem,
  xl: 67rem,
  xxl: 82.5rem,
);


@mixin bp($breakpoint: med) {
  // Retrieves the value from the key
  $value: map-get($bp, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin trans($timeValue: base, $animationValue: base) {
  $time: map-get($timing, $timeValue);
  $animation: map-get($anim, $animationValue);

  transition: $time all $animation;
}

@mixin removeBullets {
  list-style: none;
  padding-left: 0;
  padding: space(base);
  margin: 0;
}
