/*
 *
 * Sass Mixins
 *
 */

// Breakpoint
$bp: (
  // MOBILE
  sm: 20rem,
  med: 36rem,
  lg: 51.5rem,
  xl: 67rem,
  // DESKTOP
  xxl: 82.5rem
);

@mixin bp($breakpoint: med, $size: min) {
  // Retrieves the value from the key
  $value: map-get($bp, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    @if $size != 'min' {
      @media (max-width: $value) {
        @content;
      }
    }
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin removeBullets {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
