$font: (
  base: #{"ibmPlexSans-Regular",
  sans-serif},
  medium: #{"ibmPlexSans-Medium",
  sans-serif},
  semiBold: #{"ibmPlexSans-SemiBold",
  sans-serif},
);

// Font Size
$fs: (
  sm: 0.8rem,
  base: 1rem,
  m: 1.125rem,
  l: 1.5rem,
  xl: 2rem,
  xxl: 4.5rem,
);

// Font weight
$fw: (
  heavy: 300,
  heavier: 400,
  heaviest: 600,
);

// Breakpoint
$bp: (
  sm: 20rem,
  med: 36rem,
  lg: 51.5rem,
  xl: 67rem,
  xxl: 82.5rem,
);

// Line Height
$lh: (
  base: 1.2,
  loose: 1.5,
);

// Spacing
$spacing: (
  none: 0,
  tighter: 0.25rem,
  tight: 0.5rem,
  base: 1rem,
  loose: 2rem,
  looser: 3rem,
  supsloose: 4rem
);
$z: (
  0: inherit,
  1: 1,
  2: 10,
  3: 100,
  4: 1000,
  5: 10000,
  6: 100000,
);

// Animation

$timing: (
  quick: 0.15s,
  base: 0.3s,
  long: 0.5s,
);
$anim: (
  base: linear,
  easeInOut: ease-in-out,
);

// Border
$border-radius: 2px;
