@import "../../_assets/css/abstracts/1-abstracts";

.mainHeader {
  background-color: color(blue500);

  .mainHeader-inner {
    padding-top: spacing(base);
    padding-bottom: spacing(base);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.mainHeader-logoGroup {
  align-self: center;
}

.mainHeader-primaryNav {
  display: none;
  grid-column-start: 1;
  grid-column: 1 / span 2;
  padding-top: spacing(tight);

  &.is-active {
    display: block;
  }

  @include bp(lg) {
    display: block;
    grid-column-start: initial;
    grid-column: initial;
    padding-top: initial;
    justify-self: right;
  }
}

.primaryNav-linkGroup {
  @include removeBullets;
  padding: 0;
}

.primaryNav-linkItem {
  padding-top: spacing(base);
  padding-bottom: spacing(base);

  &:last-child {
    padding-bottom: 0;
  }

  @include bp(lg) {
    display: inline-block;
    padding-top: initial;
    padding-bottom: initial;

    &:not(:last-child) {
      margin-right: spacing(loose);
    }
  }
}

.primaryNav-link {
  display: block;
  text-align: center;
  color: color(white500);
  text-decoration: none;
  font-size: fs(l);

  &.btn {
    text-transform: capitalize;
    font-size: fs(l);
  }

  @include bp(lg) {
    font-size: fs(base);

    &.btn {
      font-size: fs(base);
    }
  }
}

// Menu Icon

.mainHeader-navIcon {
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  justify-self: end;

  @include bp(lg) {
    display: none;
  }
}

.mainHeader-navIcon:after,
.mainHeader-navIcon:before,
.mainHeader-navIcon div {
  background-color: #fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.mainHeader-navIcon {
  &.is-active {
    &:before {
      transform: translateY(10px) rotate(135deg);
    }
    &:after {
      transform: translateY(-10px) rotate(-135deg);
    }
    & div {
      transform: scale(0);
    }
  }
}
