@import "../../_assets/css/abstracts/mixins";

.root {
  padding-top: 1.65rem;
  padding-bottom: 1.65rem;

  @media (max-width: 51.5rem) {
    .navGroup > .nav {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      overflow: hidden;
      padding: var(--sp-base) calc(var(--sp-base) + var(--sp-tight));
      opacity: 0;
      left: 0;
      right: 0;
      bottom: 0;
      top: 6.25rem;
      background: var(--white-500);
      transition: transform 0.5s ease, opacity 0.35s ease;
      transform: translateY(-150%);
      z-index: 1000;

      &.bannerActive {
        top: 8.25rem;
      }
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
}

.navGroup {
  display: grid;
  justify-items: flex-end;

  & > .nav {
    display: flex;
    align-items: center;

    @include bp(lg) {
      visibility: initial;
      height: auto;
    }
  }
}

// Menu Icon

.navButton {
  width: 40px;
  padding: 4px;
  background-color: transparent;
  border: none;
  justify-self: end;

  @include bp(lg) {
    display: none;
  }
}

.navButton:after,
.navButton:before,
.navButton div {
  background-color: var(--icon-fill-base);
  border-radius: 3px;
  content: "";
  display: block;
  height: 4px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.navButton {
  &.is-active {
    &:before {
      transform: translateY(12px) rotate(135deg);
    }
    &:after {
      transform: translateY(-10px) rotate(-135deg);
    }
    & div {
      transform: scale(0);
    }
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 194px;
  object-fit: contain;
}
