// src/app/passion-projects/page.module.scss

@import "styles/abstracts/mixins";

.root {
  p {
    line-height: var(--lh-loose);
  }

  h1 {
    @media (min-width: 768px) {
      font-size: var(--fs-xxl);
    }
  }

  hr {
    border: 0;
    margin: var(--sp-loose);
    @media (min-width: 768px) {
      margin: var(--sp-loosest);
    }
  }

  h2,
  .prominent {
    font-weight: var(--fw-heaviest); // Adapted from font-family
    line-height: var(--lh-loose);
    font-size: var(--fs-base);
    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  .filter {
    @include imgFilter;
  }

  section > h2 + p {
    text-align: center;
    margin: 0 0 var(--sp-base);
  }

  section > h2 {
    text-align: center;
  }

  .student {
    margin-top: var(--sp-loose);
  }

  .card {
    display: flex;
    flex-direction: column-reverse;
    padding: var(--sp-base) 0;
    border-top: 1px solid var(--slate-900);
    @media (min-width: 768px) {
      flex-direction: row;
      padding: var(--sp-loose) 0;
      gap: var(--sp-loose);
    }

    h3 {
      margin-bottom: 0;
    }
  }

  .programTitle {
    font-weight: var(--fw-heaviest); // Adapted from font-family
    font-size: var(--fs-xxl);
    line-height: 1;
    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  .links {
    margin: var(--sp-base) 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-base);
  }

  .projectImageWrapper {
    position: relative;
    min-height: 450px; // We've replaced aspect-ratio with a direct min-height
    border-radius: var(--border-radius);
    overflow: hidden;
  }
}
