@import '../../_assets/css/abstracts/_mixins.scss';

.root {
  margin-top: 3rem;
  padding-top: var(--sp-looser);
  border-top: 1px solid var(--gray-300);
}

.linkGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: var(--sp-loose);
  @include bp(xxl) {
    flex-direction: row;
  }
}

.description {
  color: var(--gray-500);
  font-size: var(--fs-sm);
  max-width: var(--bp-lg);
  margin-top: var(--sp-tight);
  margin-bottom: var(--sp-tight);
}

.nav {
  & li {
    padding-top: var(--sp-tight);
    padding-bottom: var(--sp-tight);
  }
}
