@import "../../_assets/css/abstracts/mixins";

.root {
  margin-top: var(--sp-loose);
  padding-top: var(--sp-loose);
  // ToDo: Research color function for CSS variables
  border-top: 1px solid #dedede;
}

.linkGroup {
  display: grid;
  gap: var(--sp-base);

  @include bp() {
    grid-template-columns: 1fr auto;
  }
}

.description {
  color: var(--gray-400);
  font-size: var(--fs-sm);
  max-width: var(--bp-lg);
}

.nav {
  @include bp(med, max) {
    & li {
      padding-top: var(--sp-tight);
      padding-bottom: var(--sp-tight);
    }
  }
}
