@import "../../_assets/css/abstracts/1-abstracts";

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--sp-base);

  @include bp(med) {
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--sp-loose);
  }

  .submitButton {
    padding: var(--sp-base) var(--sp-base);
  }
}

.inputWrapper {
  width: 100%;
  margin-right: 0;
  margin-bottom: var(--sp-base);

  @include bp(med) {
    width: auto;
    flex-grow: 1;
    max-width: 428px;
    margin-right: var(--sp-base);
    margin-bottom: 0px;
  }
}