@import '../../_assets/css/abstracts/1-abstracts';

.root {
  display: flex;
  margin-bottom: var(--sp-base);
}

.submitButton {
  padding: 0;
  border: 1px solid var(--gray-600);
  background-color: var(--gray-600);
}
