@import '../../_assets/css/abstracts/1-abstracts';

.root {
  display: flex;
  justify-content: center;
  margin-bottom: var(--sp-base);
  @media (min-width: 769px) {
    justify-content: left;
  }
}

.submitButton {
  padding: 0;
  border: 1px solid var(--gray-600);
  background-color: var(--gray-600);
}
