/*------------------------------------*\
    Abstracts
\*------------------------------------*/
@import './abstracts/1-abstracts';

/*------------------------------------*\
    Base
\*------------------------------------*/
@import './base/_1-base';

/*------------------------------------*\
    Utilities
\*------------------------------------*/
@import './utilities/_1-utilities';

.videoWrapper {
  position: relative;
  height: 100%;
  min-height: 350px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtubeVideo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 560px;
  height: 315px;
  max-width: 80vw;
  max-height: 50vw;
  margin: auto;
}

.videoIndex {
  position: absolute;
  width: 560px;
  height: 315px;
  max-width: 80vw;
  max-height: 50vw;
  margin-top: 125px;
}

.twoColumnLayout {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: var(--sp-base);
  grid-template-rows: 1fr 1fr;

  @include bp(lg) {
    grid-template-rows: 100%;
  }
}

.leftColumn {
  grid-column: col-start / span 12;
  margin-top: 0;
  border-left: solid thick var(--ew-green);
  padding-left: 25px;

  @include bp(lg) {
    grid-column: col-start / span 4;
  }
}

.rightColumn {
  grid-column: col-start / span 12;

  @include bp(lg) {
    grid-column: span 7 / 13;
  }
}

.leftHalf {
  grid-column: col-start / span 12;
  padding-right: 25px;

  @include bp(lg) {
    grid-column: col-start / span 6;
  }
}

.rightHalf {
  grid-column: col-start / span 12;

  @include bp(lg) {
    grid-column: span 6 / 13;
  }
}

.title {
  font-size: var(--fs-xxl);
  margin-bottom: var(--sp-base);
}

.content {
  padding-left: var(--sp-loose);
  padding-right: var(--sp-loose);

  @media (min-width: 68rem) {
    padding-left: 0;
    padding-right: 0;
  }

  @include bp() {
    max-width: 67rem;
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  max-width: 100%;
}

hr {
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.no-scroll-mobile {
  @media (max-width: 51.5rem) {
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }
}
