// @use "../abstracts/variables";
// @use "../abstracts/color";
@use "../base/typography";

// .font {
//   font-family: map-get($font-base, serif);
// }

// // Font Family
// @each $key, $value in $font {
//   .font-#{$key} {
//     font-family: $value;
//   }
// }

// // Typography scale
// @each $key, $value in $fs {
//   .f#{$key} {
//     font-size: $value;
//   }
// }

// // Text weight
// @each $key, $value in $fw {
//   .fw#{$key} {
//     font-weight: $value;
//   }
// }

// // Text colors
// @each $key, $value in $colors {
//   .fc--#{$key} {
//     color: $value;
//   }
// }

// Alignment
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}

// variants
.link {
  color: var(--blue-500);
  text-decoration: none;
}

.fhl {
  background-color: colors(yellow100);
}
