.root {
  display: flex;
  position: relative;
  width: 100%;
  font-size: var(--fs-base);
  font-family: var(--font-mono);
}

.input {
  width: auto;
  flex-grow: 1;
  border: 1px solid;
  border-color: var(--gray-600);
  padding: 0px calc(var(--sp-base) + var(--sp-tight));
  height: 49px;
  transition: border-color 0.3s;
  font-size: inherit;
  color: var(--gray-600);
  font-family: var(--font-mono);

  &:focus {
    border-color: var(--blue-500);
    outline: none;
  }

  &::placeholder {
    text-transform: uppercase;
    color: var(--gray-400);
    letter-spacing: .11em;
  }
}