@import '../../_assets/css/abstracts/mixins';

.gridContainer {
  display: grid;
  gap: var(--sp-base);
  grid-template-columns: 100%;

  @include bp(lg) {
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
  }
}

.gridItem1 {
  grid-row: row-start / span 3;

  @include bp(lg) {
    grid-column: col-start 1 / span 8;
    grid-row: row-start / span 6;
  }
}

.gridItem2 {
  grid-row: 3 / span 3;

  @include bp(lg) {
    grid-column: span 4 / 13;
    grid-row: row-start / span 6;
  }
}

.gridItem3 {
  grid-row: 6 / span 3;

  @include bp(lg) {
    grid-column: col-start 1 / span 5;
    grid-row: span 6 / 13;
  }
}

.gridItem4 {
  grid-row: 9 / span 3;

  @include bp(lg) {
    grid-column: span 7 / 13;
    grid-row: span 6 / 13;
  }
}
