.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(11, [row-start] 1fr);
  gap: var(--sp-base);
}

.gridItem1 {
  grid-column: col-start / span 7;
  grid-row: row-start / span 5;
}

.gridItem2 {
  grid-column: col-start 9 / span 4;
  grid-row: row-start / span 7;
}

.gridItem3 {
  grid-column: col-start 3 / span 5;
  grid-row: row-start 7 / span 5;
}
