@import '../../_assets/css/abstracts/_mixins.scss';

.root {
  font-size: var(--fs-m);

  .isActive {
    background: url('../../_assets/images/squiggly.svg');
    background-position: bottom -8px center;
    background-repeat: no-repeat;
    padding-bottom: 22px;
  }

  @media (max-width: 51.5rem) {
    &.isActive {
      // ToDo: Removed Important
      bottom: 0px;
      transform: translateY(0px) !important;
      opacity: 1 !important;
      transition: opacity 0.25s ease;

      .item {
        text-align: right;
      }

      .item a {
        display: inline-block;
        width: auto;
        font-size: var(--fs-l);
        padding: var(--sp-tight) 0;
        font-family: var(--font-light);
      }
    }
  }
}

.group {
  @include removeBullets();
  display: flex;
  flex-direction: column;
  gap: var(--sp-tight);
  @include bp(lg) {
    gap: var(--sp-loose);
    flex-direction: row;
  }
}

.item {
  @include bp(lg) {
    flex-direction: row;
    display: inline;
  }
}

.mobileOnly {
  display: none;

  @media (max-width: 51.5rem) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: var(--sp-base);
  }
}

.horizontalRule {
  height: 0px;
  width: 42px;
  border-top: 1px solid var(--gray-600);
}

.contact {
  padding-top: calc(var(--sp-base) + var(--sp-tight));
}

.socialLinks {
  display: flex;
  justify-content: flex-end;
}
