.root {
  border-top: 1px solid var(--gray-300);
  font-size: var(--fs-base);
  width: 100%;
}

.root + .root {
  border-top: none;
}

.accordion-header {
  border-bottom: 1px solid var(--gray-300);
  margin: 0px;
  line-height: 1em;
  position: relative;
  font-family: var(--font-italic);

  &:after {
    content: '+';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.accordionControl {
  background: none;
  border: none;
  font-style: italic;
  padding: 24px 24px 24px 0px;
  width: 100%;
  text-align: left;
  font-size: var(--fs-base);
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px white, 0 0 0 6px var(--gray-600);
  }
}

.accordionContents {
  margin: 0px;
  padding: var(--sp-base) 0;
  border-bottom: 1px solid var(--gray-300);
  white-space: pre-wrap;
}