@import '../../_assets/css/abstracts/mixins';

.root {
  margin: var(--sp-loosest);
  border-top: 1px solid var(--gray-500);
  padding-top: var(--sp-loosest);
  @media (max-width: 51.5rem) {
    //TODO: use base styles
    margin: var(--sp-tight);
    text-align: center;
  }
}

.linkGroup {
  display: grid;
  gap: var(--sp-base);
  margin-bottom: var(--sp-loose);

  @include bp() {
    grid-template-columns: 1fr auto;
  }
}

.description {
  color: var(--gray-500);
  font-size: var(--fs-sm);
  max-width: var(--bp-lg);
  margin-top: var(--sp-tight);
  margin-bottom: var(--sp-tight);
}

.nav {
  @include bp(med, max) {
    & li {
      padding-top: var(--sp-tight);
      padding-bottom: var(--sp-tight);
    }
  }
}
