// @use "../abstracts/tokens";

/*
*
* Input styles
*
*/

// Input field base styles
.input-field,
textarea,
input[input="email"],
input[input="search"] {
  // @include trans();
  background-color: transparent;
  border-color: var(--gray-400);
  border-style: solid;
  border-width: 2px;
  color: var(--gray-600);
  font-size: var(--fs-base);
  outline: none;
  padding: var(--sp-tight) var(--sp-base);

  &:not(:placeholder-shown) {
    border-color: var(--gray-600);
  }

  &::placeholder {
    color: var(--gray-400);
  }

  &:focus {
    // border-width: 5px;
    border-color: var(--blue-600);
  }
}

// Checkbox base styles
.input-checkBox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid var(--gray-600);
  // @include trans();
  margin-right: 5px;

  position: relative;
  top: 4px;

  &:checked {
    border: 2px solid var(--gray-300);
    background-color: var(--ew-green);
  }
}

// labels for inputs
.input-label {
  font-size: var(--fs-l);
  font-family: var(--font-medium) & + & {
    margin-left: var(--sp-base);
  }
}

// TODO: Quick hack because form styles and breakpoints need to be revisited. Should fix because display:none is not accessible for label.
label {
  display: none;
  font-size: var(--fs-sm);
  margin-right: 8px;
  @media (min-width: 768px) {
    display: inline;
  }
}
